@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap'),

body {
 font-size: 62.5%; /* 1em = 10px = 100% */
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: #635b8c;
}

#aboutMe {
  font-family: 'Crison Text', serif;
  color: #fff;
}

#githubStats > img {
  hight: 1.8em;
}

#technologies {
 display: flex;
 align-items: center;
}

#technologies > img {
 hight: 3em;
 width: 4em;
}

#socialMidia {
 display: flex;
 align-items: center;
}

